.n {
    text-decoration: none;
    display: flex;
    list-style: none;
    gap: 30px;
    color: black;
    padding-left: 110px;
    align-items: center;
}

.fb {
    display: flex;
    background-color: white;
    align-items: center;
}